.card {
  padding: 40px;
  margin: 10px;
  max-width: 300px;
  border-radius: 20px;
  // border: solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.3);

  min-height: 400px;
  border: 1px solid rgba($color: white, $alpha: 0.2);

  // animation: 1s ease infinite pulse;

  video {
    border-radius: 5px;
    
  }


}

.pulser {
  animation: 8s ease-in-out 1 pulse;
}

@keyframes pulse {
  50% {
    background-color: rgba(250, 250, 250, 1);
  }
}


.animated_path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
  stroke:rgba(104, 211, 82, 0.856);
  stroke-linecap:'round';
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}



.howtouse {

  display:flex;
  height:100%;
  width:100%;
  justify-content:center;
  align-items:center;
  flex-direction: column;

  h1 , h3  , dt  {
    font-family: 'Fredoka One', cursive;
  }

  b {
    font-family: 'Fredoka One', cursive;
    color: rgba(70, 70, 70, 1);
  }

  p , dd {
    color: rgba(100, 100, 100, 1);
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .note {
    border: 1px solid rgba($color: white, $alpha: 0.2);
    border-radius: 20px;
    padding: 15px;
    background-color:  rgba(250, 250, 250, 0.3);
  }

  

}




.about {

  display:flex;
  height:100%;
  width:100%;
  justify-content:center;
  align-items:center;
  flex-direction: column;

  h1 {
    font-family: 'Fredoka One', cursive;
  }

  p {
    color: rgba(100, 100, 100, 1);
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }

}