.whyme{
    padding: 0px 40px;

    overflow:hidden;

    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div:hover{

        cursor: pointer;
        div{
            height: 170px;
            width: 170px;
        }
    }
    
    div{
        display: flex;
        flex-direction: column;
        place-items: center;
        //background-color: red;
        //height: 450px;
        div{
            height: 150px;
            width: 150px;
            //background-color: yellow;
        }

        h3{
            text-align: center;
        }

        p{
            max-width: 250px;
        }
    }
}

.about {

    //overflow: hidden;

    margin: 10px 15vw;
    border: 2px solid #dbdbdb;
    border-radius: 25px;
    display: grid;
    place-items: center;
    position: relative;

    h1{
        display: grid;
        place-items: center;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
    }

    p{
        padding: 0px 20px;
        font-family: "Roboto", sans-serif;
        color: #777 ;
        letter-spacing: 0.5px;
        line-height: 140%;
        font-size: 1rem;
        font-weight: 900;
        max-width: 300px;
    }

    .aboutimr{
        position: absolute;
        height: 300px;
        width: 200px;
        //background-color: yellow;
        bottom: 0;
        right: -120px;
    }

    .aboutiml{
        position: absolute;
        bottom: 0;
        left: -170px;
        height: 200px;
        width: 200px;
        //background-color: yellow;
    }
}


.howtouse{
    padding: 0px 40px;
    margin-bottom: 50px;
    display: grid;
    place-items: center;


    .doublecolumn{
        display: flex;
    }

    .line{
        border-left: 2px solid var(--color1_1);
        margin: 0px 20px;
        //height: 1;
    }


    h1{
        display: grid;
        place-items: center;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
    }

    h3{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 1.4;
    }

    p{
        padding: 0px 20px;
        font-family: "Roboto", sans-serif;
        color: #777 ;
        letter-spacing: 0.5px;
        line-height: 140%;
        font-size: 1rem;
        font-weight: 900;

    }

    .note{

        max-width: 500px;
        border-radius: 10px;
        padding: 16px 30px;
        border: 2px solid var(--color1_1);

    }

    dl{
        padding: 0px 20px;
        font-family: "Roboto", sans-serif;
        color: #777 ;
        letter-spacing: 0.5px;
        line-height: 140%;
        font-size: 1rem;
        font-weight: 900;

        dt{
            color: black ;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            //line-height: 1.4;
        }

        dd{

        }
    }

}

.app{
    padding: 0px 40px;

    margin-bottom: 50px;


    h2{
        display: grid;
        place-items: center;
        padding: 0px 15vw;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;

    }
}


.maingrid{
    display: grid;
    place-items: center;
    width: 100vw;

.frontpage{

    padding: 0px 40px;
    margin-top: 30px;
    

    display: flex;
    flex-direction: row;

    //height: 60vh;
    width: 100vw;
    max-width: 1500px;
    

    .frontpagetext{

        width: 50vw;
        

        display: grid;
        place-items: center;
        margin-bottom: 20px;

        h1{
            font-family: "Poppins", sans-serif;
            font-size: 60px;
            font-weight: 700;
        }

        .intro {
            padding: 0px 20px;
            font-family: "Roboto", sans-serif;
            color: #777 ;
            letter-spacing: 0.5px;
            line-height: 190%;
            font-size: 1rem;
            font-weight: 900;
        }
    }
    
    .frontpageimage{
        padding: 0px 20px;
        width: 50vw;
        //background-color: yellow;
    
    }
}
}


.frontpageimagebot{
    margin-top: 1px;
    //border-top: 2px solid black;
    //border-bottom: 2px solid black;
    width: 100vw;
    height: 3px;
    background-color: var(--color1_1);
}

@media screen and (max-width: 1200px) {
    .maingrid{
    .frontpage{
        .frontpagetext{
            h1{
                font-size: 53px;
            }
        }
    }
}

}


@media screen and (max-width: 1100px) {
    .maingrid{
    .frontpage{


        .frontpagetext{
            width: 50vw;
    
            h1{
                font-size: 50px;
                font-weight: 700;
            }
        }

        .frontpageimage{
            width: 60vw;
        }
    }
}

}


@media screen and (max-width: 925px) {
    .maingrid{
    .frontpage{

        flex-direction: column;

        .frontpagetext{
            width: 80vw;
        }

        .frontpageimage{
            width: 80vw;
        }
    }
}

    .frontpageimagebot{
        width: 100vw;
        height: 5px;
        //background-color: yellow;
    }



    .about {

        .aboutimr{
            display: none;
        }
        .aboutiml{
            display: none;
        }

    }


}


@media screen and (max-width: 550px) {

    .app{
        
        h2{

            font-size: 20px;
    
        }
    }

}



















/* FANCY BUTTON */

.fancybtn{
    outline: none;
    text-decoration: none !important;
    user-select: none;
    background-color: transparent;
    color: var(--color1_1);
    font-weight: 600;
    border-radius: 10px;
    padding: 16px 30px;
    border: 2px solid var(--color1_1);
    font-family: "Poppins", sans-serif;

    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.fancybtn:hover{
    color: #fff;
    background-color: var(--color1_1);
    border-color: var(--color1_1);
}
.fancybtn:active{
    color: #fff;
    background-color: var(--color1_1);
    border-color: var(--color1_1);
}
.fancybtn:focus{
    box-shadow: 0 0 0 0.2rem var(--color1_1_shadow);
}

.fancybtn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
