.header {

    display: grid;
    align-items: center;


    .headerctn{
        //background-color: blue;
        width: 80vw;
        height: 100px;
        border-bottom: 1px solid black;
        display: flex;
        margin-right: 10vw;
        margin-left: 10vw;
    }

    

}